// color
$white: #ffffff;
$black: #000000;
$pink: #F67599;

:root {
  --screen-background: $white;
  --screen-text: $black;
  --main-dark: #2A2A2A;
  --main-grey: #4A4A4A;
  --middle-grey: #999999;
  --light-grey: #E6E6EB;
  // stepper
  --step: #E6E6EB;
  --step-border: #E6E6EB;
  --step-active: #2A2A2A;
  --step-checked: #333333;
  // cart
  --cart-panel: $white;
  --cart-btn: #F0F0F5;
}

[data-theme="dark"] {
  --screen-background: #121212;
  --screen-text: $white;
  --main-dark: $white;
  --main-grey: #FFFFFF66;
  --middle-grey: #FFFFFF66;
  --light-grey: #FFFFFF33;
  // stepper
  --step: #F0F0F566;
  --step-border: #FFFFFF33;
  --step-active: $white;
  --step-checked: #333333;
  // cart
  --cart-panel: #383838;
  --cart-btn: #808080;
}

%screen-background {
  background-color: var(--screen-background);
  color: var(--screen-text);
}

html {
  @extend %screen-background;
  .header, .main {
    @extend %screen-background;
  }
}



// class
$font-size: 4px;

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

//font-size, line-height
$font-basic: 4px;
@mixin font-size ($size, $height: $size) {
  font-size: $size * $font-basic;
  line-height: $height * $font-basic;
}

//font-weight, ex: weight-400
@each $prop, $abbrev in (font-weight: weight) {
  @each $num, $val in ('400': 400, '700': 700) {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$val};
    }
  }
}

//圓形：大小
@mixin circle($width) {
  width: $width;
  height: $width;
  line-height: $width;
  text-align: center;
  border-radius: 50%;
}
//方形：寬、長
@mixin square($width, $height: $width) {
  width: $width;
  height: $height;
}

// 待刪
@mixin border ($num, $radius, $color) {
  border: $num solid $color;
  border-radius: $radius;
}

//顏色：字色、背景色
@mixin color ($color, $background) {
  color: $color;
  background-color: $background;
}

//general
.container {
  max-width: 375px;
  margin: 0 15px;
}

button {
  img, span {
    pointer-events: none;
  }
}

@media screen and (min-width: 376px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}