@import 'reset';
@import 'variables';


%icon {
  @include square(24px);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header {
  height: 56px;
  position: relative;
  .navbar-btn {
    @extend %icon;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: var(--navbar-btn);
  }
  .logo-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: nowrap;
    align-items: center;
    .logo-img {
      @extend %icon;
      background-image: var(--logo-img);
    }
    .logo-text {
      @extend %icon;
      @include square (105px, 15px);
      background-image: var(--logo-text);
      margin-left: 8px;
    }
  }
  .navbar-panel {
    color: var(--screen-text);
    background-color: var(--screen-background);
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    .nav-bar h3 {
      margin: 0 auto;
      padding: 24px 0;
      border-bottom: 1px solid var(--middle-grey);
    }
    .icons {
      padding-top: 25px;
      justify-content: center;
      div {
        @extend %icon;
        margin: 0 20px;
      }
      .icon-search {
        background-image: var(--icon-search);
      }
      .icon-cart {
        background-image: var(--icon-cart);
      }
      .icon-theme {
        background-image: var(--icon-theme);
      }
    }
  }
}

@media screen and (min-width: 376px) {
  .header {
    height: 60px;
    padding: 18px 0;
    .navbar-btn {
      display: none;
    }
    .navbar-panel {
      position: unset;
      top: unset;
      display: flex;
      justify-content: space-between;
      .nav-bar {
        display: flex;
        h3 {
          @include font-size (4, 6);
          margin-right: 32px;
          padding: unset;
          border-bottom: unset;
        }
      }
      .icons {
        padding-top: unset;
      }
    }
  }
}