@import 'reset';
@import 'variables';

main div { //觀察用
  border: 1px solid black;
}

//general
.container {
  max-width: 375px;
  margin: 0 15px;
}

input[type="text"], select {
  color: var(--main-grey);
  @include square(100%, 40px);
  @include border(1px, 4px, var(--main-grey));
  margin-top: 8px;
  padding-left: 16px;
}

//details
.page-title {
  font-size: 6 * $font-size;
  margin: 15px 0 24px;
}
.page-content {
  flex-direction: column;
  .payment-info {
    .stepper-container {
      justify-content: space-between;
      align-items: center;
      .step {
        .step-number {
          @include circle(32px, var(--white));
          border: 1px solid var(--light-grey);
          color: var(--light-grey);
          font-size: 4 * $font-size;
        }
        .step-active {
          border-color: var(--main-dark);
          background-color: var(--main-dark);
          color: var(--white);
        }
      }
      .line {
        @include square(60px, 1px);
        background-color: var(--light-grey);
      }
      .line-active {
        height: 2px;
        background-color: var(--main-dark);
      }
    }
    .payment-form {
      font-size: 3 * $font-size;
      .part {
        h3 {
          margin-top: 24px;
          font-size: 6 * $font-size;
        }
        label {
          display: block;
          width: 100%;
          margin-top: 24px;
        }
      }
      .info-buyer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .gender {
          width: 133px;
        }
        .name {
          width: 183px;
        }
      }
    }
  }
}