@import 'reset';
@import 'variables';

input[type="text"], select {
  color: var(--main-grey);
  @include square(100%, 40px);
  @include border(1px, 4px, var(--main-grey));
  margin-top: 8px;
  padding-left: 16px;
}

input[type="radio"] {
  -webkit-appearance: none;
  margin: 0;
  @include square(20px, 20px);
  @include border(1px, 50%, var(--main-dark));
  cursor: pointer;
  &:checked {
    box-shadow: inset 0 0 0 6px var(--main-dark);
  }
}

//details
.page-title {
  @include font-size (6);
  margin: 16px 0 24px;
}
.page-content {
  flex-direction: column;
  .payment-info {
    .stepper-container {
      justify-content: space-between;
      align-items: center;
      .step {
        .step-number {
          @include circle(32px, var(--white));
          border: 1px solid var(--light-grey);
          color: var(--light-grey);
          font-size: 4 * $font-size;
        }
        &:nth-child(1) .step-number {
          color: var(--white);
          background-color: var(--main-dark);
        }
        .step-active {
          border-color: var(--main-dark);
          color: var(--main-dark);
        }
        .checked {
          color: var(--white);
          background-color: var(--main-dark);
        }
        h5 {
          display: none;
        }
      }
      .line {
        @include square(60px, 1px);
        background-color: var(--light-grey);
      }
      .line-active {
        height: 2px;
        background-color: var(--main-dark);
      }
    }
    .payment-form {
      @include font-size (3);
      .part {
        h3 {
          margin-top: 24px;
          @include font-size (6)
        }
        label {
          display: block;
          width: 100%;
          margin-top: 24px;
        }
      }
      .info-buyer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .gender {
          width: 133px;
        }
        .name {
          width: 183px;
        }
      }
      .info-delivery {
        > div {
          position: relative;
          margin-top: 24px;
          input {
            position: absolute;
            top: 50%;
            transform: translate(100%, -50%);
            &:checked ~ label {
              border: 1px solid var(--main-dark);
            }
          }
          label {
            display: block;
            margin: 0;
            padding: 11px 0 11px 60px;
            @include border(1px, 4px, var(--middle-grey));
            h6 {
              @include font-size (3.5, 5);
            }
            p {
              @include font-size (3, 4);
            }
            .delivery-cost {
              position: absolute;
              top: 13px;
              right: 13px;
            }
          }
        }
      }
      .info-credit-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card-exp, .card-security {
          width: 158px;
        }
      }
    }
    .stepper-control {
      display: none;
    }
  }
  .shopping-cart {
    margin: 32px 0;
    padding: 0 16px;
    @include border (1px, 8px, var(--light-grey));
    h3 {
      display: none;
    }
    .shopping-items {
      .item {
        margin-top: 16px;
        img {
        @include square (100px);
        }
        .item-info {
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-end;
          flex: 1;
          .minus, .plus {
            @include circle (26px, var(--light-grey));
          }
          .item-quantity {
            margin: 0 20px;
          }
        }
      }
    }
    .shopping-cost {
      margin-top: 16px;
      > div {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--light-grey);
        @include font-size (3.5, 13);
      }
    }
  }
  .stepper-control {
    border-top: 1px solid var(--light-grey);
    padding-top: 24px;
    justify-content: space-between;
    .btn {
      @include font-size (3.5, 11.5);
      img {
        @include square (20.5px, 9px);
      }
      span {
        margin: 0 13.5px;
      }
    }
    .btn-next{
      width: 156px;
      color: var(--white);
      border-radius: 8px;
      background-color: var(--pink);
    }
    .btn-previous {
      text-align: start;
      &:disabled {
        display: none;
        ~ .btn-next {
          width: 100%;
        }
      }
    } 
  }
}

@media screen and (min-width: 376px) {
  .page-title {
    @include font-size (8);
  }
  .page-content {
    flex-direction: row;
    justify-content: space-between;
    .payment-info {
      width: 536px;
      .stepper-container .step {
        align-items: center;
        h5 {
          display: inline-block;
          margin-left: 5px;
          @include font-size (4, 6);
        }
      }
      #payment-form {
        margin-bottom: 48px;
        .part h3 {
          margin-top: 64px;
        }
        .info-buyer {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 24px 30px;
          .gender, .city {
            width: unset;
            grid-column: span 2;
          }
          .name, .address {
            width: unset;
            grid-column: span 4;
          }
          .phone, .mail {
            grid-column: span 3;
          }
        }
        .info-delivery {
          margin-bottom: 144px;
          width: 435px;
        }
        .info-credit-card {
          .card-owner, .card-number {
            max-width: 350px;
          }
          .card-exp, .card-security {
            width: 255px;
          }
        }
      }
      .stepper-control {
        display: flex;
        justify-content: space-between;
        .btn-previous:disabled {
          display: unset;
          visibility: hidden;
          ~ .btn-next {
            width: 156px;
          }
        }
      } 
    }
    .shopping-cart {
      width: 440px;
      h3 {
        display: block;
        margin: 32px 0;
        @include font-size (4.5);
      }
      .shopping-items .item .item-info {
        position: relative;
        margin-left: 21px;
        justify-content: unset;         align-items: unset;
        div {
          margin: 18px 0 ;
        }
        .item-cost {
          position: absolute;
          right: 0;
        }
      }
    }
    .stepper-control {
      display: none;
    }
  } 
}