body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

:root {
  --screen-background: #ffffff;
  --screen-text: #000000;
  --main-dark: #2A2A2A;
  --main-grey: #4A4A4A;
  --middle-grey: #999999;
  --light-grey: #E6E6EB;
  --step: #E6E6EB;
  --step-border: #E6E6EB;
  --step-active: #2A2A2A;
  --step-checked: #333333;
  --cart-panel: #ffffff;
  --cart-btn: #F0F0F5;
  --navbar-btn: url('/image/nav-btn.png');
  --logo-img: url('/image/logo-img.png');
  --logo-text: url('/image/logo-text.png');
  --icon-search: url('/image/icon-search.png');
  --icon-cart: url('/image/icon-cart.png');
  --icon-theme: url('/image/icon-theme.png');
  --btn-pre: url('/image/arrow-pre.png');
  --btn-next: url('/image/arrow-next.png');
}

[data-theme="dark"] {
  --screen-background: #121212;
  --screen-text: #ffffff;
  --main-dark: #ffffff;
  --main-grey: #FFFFFF66;
  --middle-grey: #FFFFFF66;
  --light-grey: #FFFFFF33;
  --step: #F0F0F566;
  --step-border: #FFFFFF33;
  --step-active: #ffffff;
  --step-checked: #333333;
  --cart-panel: #383838;
  --cart-btn: #808080;
  --navbar-btn: url('/image/nav-btn-dark.png');
  --logo-img: url('/image/logo-img.png');
  --logo-text: url('/image/logo-text-dark.png');
  --icon-search: url('/image/icon-search-dark.png');
  --icon-cart: url('/image/icon-cart-dark.png');
  --icon-theme: url('/image/icon-theme-dark.png');
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

html, header, main {
  color: var(--screen-text);
  background-color: var(--screen-background);
}

.container {
  max-width: 375px;
  margin: 0 15px;
}

button img, button span {
  pointer-events: none;
}

@media screen and (min-width: 376px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

.header .navbar-btn, .header .logo-panel .logo-img, .header .logo-panel .logo-text, .header .navbar-panel .icons div {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header {
  height: 56px;
  position: relative;
}

.header .navbar-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: var(--navbar-btn);
}

.header .logo-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-panel .logo-img {
  background-image: var(--logo-img);
}

.header .logo-panel .logo-text {
  width: 105px;
  height: 15px;
  background-image: var(--logo-text);
  margin-left: 8px;
}

.header .navbar-panel {
  color: var(--screen-text);
  background-color: var(--screen-background);
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
}

.header .navbar-panel .nav-bar h3 {
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 1px solid var(--middle-grey);
}

.header .navbar-panel .icons {
  padding-top: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar-panel .icons div {
  margin: 0 20px;
}

.header .navbar-panel .icons .icon-search {
  background-image: var(--icon-search);
}

.header .navbar-panel .icons .icon-cart {
  background-image: var(--icon-cart);
}

.header .navbar-panel .icons .icon-theme {
  background-image: var(--icon-theme);
}

@media screen and (min-width: 376px) {
  .header {
    height: 60px;
    padding: 18px 0;
  }
  .header .navbar-btn {
    display: none;
  }
  .header .navbar-panel {
    position: unset;
    top: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .navbar-panel .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar-panel .nav-bar h3 {
    font-size: 16px;
    line-height: 24px;
    margin-right: 32px;
    padding: unset;
    border-bottom: unset;
  }
  .header .navbar-panel .icons {
    padding-top: unset;
  }
}
/*# sourceMappingURL=header.css.map */