body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main-dark: #2A2A2A;
  --main-grey: #4A4A4A;
  --middle-grey: #999999;
  --light-grey:#E6E6EB;
  --pink: #F67599;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.container {
  max-width: 375px;
  margin: 0 15px;
}

button img, button span {
  pointer-events: none;
}

@media screen and (min-width: 376px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

input[type="text"], select {
  color: var(--main-grey);
  width: 100%;
  height: 40px;
  border: 1px solid var(--main-grey);
  border-radius: 4px;
  margin-top: 8px;
  padding-left: 16px;
}

input[type="radio"] {
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-dark);
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 6px var(--main-dark);
          box-shadow: inset 0 0 0 6px var(--main-dark);
}

.page-title {
  font-size: 24px;
  line-height: 24px;
  margin: 16px 0 24px;
}

.page-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .payment-info .stepper-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content .payment-info .stepper-container .step .step-number {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  font-size: 16px;
}

.page-content .payment-info .stepper-container .step:nth-child(1) .step-number {
  color: var(--white);
  background-color: var(--main-dark);
}

.page-content .payment-info .stepper-container .step .step-active {
  border-color: var(--main-dark);
  color: var(--main-dark);
}

.page-content .payment-info .stepper-container .step .checked {
  color: var(--white);
  background-color: var(--main-dark);
}

.page-content .payment-info .stepper-container .step h5 {
  display: none;
}

.page-content .payment-info .stepper-container .line {
  width: 60px;
  height: 1px;
  background-color: var(--light-grey);
}

.page-content .payment-info .stepper-container .line-active {
  height: 2px;
  background-color: var(--main-dark);
}

.page-content .payment-info .payment-form {
  font-size: 12px;
  line-height: 12px;
}

.page-content .payment-info .payment-form .part h3 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 24px;
}

.page-content .payment-info .payment-form .part label {
  display: block;
  width: 100%;
  margin-top: 24px;
}

.page-content .payment-info .payment-form .info-buyer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content .payment-info .payment-form .info-buyer .gender {
  width: calc((100% - 30px) * 0.4);
}

.page-content .payment-info .payment-form .info-buyer .name {
  width: calc((100% - 30px) * 0.6);
}

.page-content .payment-info .payment-form .info-delivery > div {
  position: relative;
  margin-top: 24px;
}

.page-content .payment-info .payment-form .info-delivery > div input {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.page-content .payment-info .payment-form .info-delivery > div input:checked ~ label {
  border: 1px solid var(--main-dark);
}

.page-content .payment-info .payment-form .info-delivery > div label {
  display: block;
  margin: 0;
  padding: 11px 0 11px 60px;
  border: 1px solid var(--middle-grey);
  border-radius: 4px;
}

.page-content .payment-info .payment-form .info-delivery > div label h6 {
  font-size: 14px;
  line-height: 20px;
}

.page-content .payment-info .payment-form .info-delivery > div label p {
  font-size: 12px;
  line-height: 16px;
}

.page-content .payment-info .payment-form .info-delivery > div label .delivery-cost {
  position: absolute;
  top: 13px;
  right: 13px;
}

.page-content .payment-info .payment-form .info-credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content .payment-info .payment-form .info-credit-card .card-exp, .page-content .payment-info .payment-form .info-credit-card .card-security {
  width: calc((100% - 30px) * 0.5);
}

.page-content .payment-info .stepper-control {
  display: none;
}

.page-content .shopping-cart {
  margin: 32px 0;
  padding: 0 16px;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
}

.page-content .shopping-cart h3 {
  display: none;
}

.page-content .shopping-cart .shopping-items .item {
  margin-top: 16px;
}

.page-content .shopping-cart .shopping-items .item img {
  width: 100px;
  height: 100px;
}

.page-content .shopping-cart .shopping-items .item .item-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-content .shopping-cart .shopping-items .item .item-info div .minus, .page-content .shopping-cart .shopping-items .item .item-info div .plus {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: var(--light-grey);
  border-radius: 50%;
  cursor: pointer;
}

.page-content .shopping-cart .shopping-items .item .item-info div .item-quantity {
  pointer-events: none;
  margin: 0 20px;
}

.page-content .shopping-cart .shopping-cost {
  margin-top: 16px;
}

.page-content .shopping-cart .shopping-cost > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--light-grey);
  font-size: 14px;
  line-height: 52px;
}

.page-content .stepper-control {
  border-top: 1px solid var(--light-grey);
  padding-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content .stepper-control .btn {
  font-size: 14px;
  line-height: 46px;
}

.page-content .stepper-control .btn img {
  width: 20.5px;
  height: 9px;
}

.page-content .stepper-control .btn span {
  margin: 0 13.5px;
}

.page-content .stepper-control .btn-next {
  width: 156px;
  color: var(--white);
  border-radius: 8px;
  background-color: var(--pink);
}

.page-content .stepper-control .btn-previous {
  text-align: start;
}

.page-content .stepper-control .btn-previous:disabled {
  display: none;
}

.page-content .stepper-control .btn-previous:disabled ~ .btn-next {
  width: 100%;
}

@media screen and (min-width: 376px) {
  .page-title {
    font-size: 32px;
    line-height: 32px;
  }
  .page-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-content .payment-info {
    width: 536px;
  }
  .page-content .payment-info .stepper-container .step {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-content .payment-info .stepper-container .step h5 {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    line-height: 24px;
  }
  .page-content .payment-info #payment-form {
    height: 312px;
  }
  .page-content .payment-info #payment-form .part h3 {
    margin-top: 64px;
  }
  .page-content .payment-info #payment-form .part label {
    margin-top: unset;
  }
  .page-content .payment-info #payment-form .info-buyer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-gap: 24px 30px;
  }
  .page-content .payment-info #payment-form .info-buyer .gender, .page-content .payment-info #payment-form .info-buyer .city {
    width: unset;
    grid-column: span 2;
  }
  .page-content .payment-info #payment-form .info-buyer .name, .page-content .payment-info #payment-form .info-buyer .address {
    width: unset;
    grid-column: span 4;
  }
  .page-content .payment-info #payment-form .info-buyer .phone, .page-content .payment-info #payment-form .info-buyer .mail {
    grid-column: span 3;
  }
  .page-content .payment-info #payment-form .info-delivery {
    margin-bottom: 144px;
    width: 435px;
  }
  .page-content .payment-info #payment-form .info-credit-card label {
    margin-top: 24px;
  }
  .page-content .payment-info #payment-form .info-credit-card label .card-owner, .page-content .payment-info #payment-form .info-credit-card label .card-number {
    max-width: 350px;
  }
  .page-content .payment-info #payment-form .info-credit-card label .card-exp, .page-content .payment-info #payment-form .info-credit-card label .card-security {
    width: 255px;
  }
  .page-content .payment-info .stepper-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-content .payment-info .stepper-control .btn-previous:disabled {
    display: unset;
    visibility: hidden;
  }
  .page-content .payment-info .stepper-control .btn-previous:disabled ~ .btn-next {
    width: 156px;
  }
  .page-content .shopping-cart {
    width: 440px;
  }
  .page-content .shopping-cart h3 {
    display: block;
    margin: 32px 0;
    font-size: 18px;
    line-height: 18px;
  }
  .page-content .shopping-cart .shopping-items .item .item-info {
    position: relative;
    margin-left: 21px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .page-content .shopping-cart .shopping-items .item .item-info div {
    margin: 18px 0;
  }
  .page-content .shopping-cart .shopping-items .item .item-info .item-cost {
    position: absolute;
    right: 0;
  }
  .page-content .stepper-control {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */